# intermediate data etc
./data/fintN
./data/cutadapt
./data/filtered
./data/raw
./manuscript
./data/MO_metadata_raw.RDS
data/2202KMI-0003.pdf
data/2202KMI-0003_RawData_Stat.xlsx
data/Precip_raw.csv
data/SI_GenoTypes_All.xlsx
data/SI_Indo_Metadata_CorrectGPS.xlsx
data/filtN/
data/raw/
manuscript/
taxonomy/


# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata
.Renviron
.Rproj.user
output/figs/differential_abundance_sig_taxa.tiff
output/figs/Figure_3.tiff
.git/objects/pack/pack-85b4925e9f7e8aef05fb977c4eabd6470bbfc8f9.pack
taxonomy/silva_nr99_v138.1_wSpecies_train_set.fa.gz
taxonomy/silva_nr99_v138.1_train_set.fa.gz
taxonomy/silva_species_assignment_v138.1.fa.gz
data/MO_metadata_raw.RDS
