# intermediate data etc
./data/fintN
./data/cutadapt
./data/filtered
./data/raw
./manuscript
./data/MO_metadata_raw.RDS
data/2202KMI-0003.pdf
data/2202KMI-0003_RawData_Stat.xlsx
data/Precip_raw.csv
data/SI_GenoTypes_All.xlsx
data/SI_Indo_Metadata_CorrectGPS.xlsx
data/filtN/
data/raw/
manuscript/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata
.Renviron
.Rproj.user
